
/* Colors */
$basicclr: #fff;
$sunlight: #f5a61d;
$bgclr: #007577;
$blkclr: #000;
$grclr: green;
$yllwclr: yellow;
$blclr: blue;
$rclr: red;
$gryclr: gray;
$tickerclr:  rgba(255, 175, 100, 0.98);

/* Fonts */
$default-font:  'Slabo 27px', sans-serif;

/* Media Querries */
