* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $bgclr;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background: $sunlight;
  box-shadow: 0 0 20px 0 black;
}

h2 {
  color: $basicclr;
  padding: 10px 35px;
  font-family: $default-font;
}

h3 {
  color: $basicclr;
  padding: 0 35px 10px;
  font-family: default-font;
}

a {
  text-decoration: none;
  color: $basicclr;
  padding-left: 0;
  margin-left: 0;
}
