.container {
  width: 100%;
  margin: 50px auto;
  border: solid 1px #666;
  position: relative;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_1 {
  z-index: 1;
}

.container_2 {
  top: 0;
  left: 100px;
  background: $blclr;
  position: absolute;
}

.promo_wrap {
  background: $sunlight;
  height: 155px;
  width: 100%;
  overflow: hidden;
}

div.promo {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: $sunlight;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 25px auto;
}

.promo .slick-arrow.slick-hidden {
  display: none;
}

.promo img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
}

div.fade {
  width: 100%;
  height: inherit;
  padding: 0;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.fade .slick-arrow.slick-hidden {
  display: none;
}

.fade img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
}
