* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $blgreen;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background: $sunlight;
  box-shadow: 0 0 20px 0 black;
}

h3,
h2 {
  color: white;
  padding: 5px 15px;
}

a {
  text-decoration: none;
  color: white;
}
