$basicclr: #fff;
$sunlight: #f5a61d;
$bgclr: #007577;
$blkclr: #000;
$grclr: green;
$yllwclr: yellow;
$blclr: blue;
$rclr: red;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $bgclr;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background: $sunlight;
  box-shadow: 0 0 20px 0 black;
}

.holder {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  position: static;
  background-color: $blkclr;
  border: 3px solid $grclr;
  padding: 20px;
}

a {
  text-decoration: none;
  color: $basicclr;
}
